.logo{
        width: 91px;
        height: 89px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0.5em 1em;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00bcd4;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
}

.info {
height: 20px;
    display: flex;
justify-content: flex-end;
    flex-wrap: nowrap;
    background-color: rgba(243, 243, 243);
}
.lienInfo{
        color: rgba(117, 117, 117);
            text-decoration: none;
}
.infologo {
list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
}
.imageresseaux {
    height: 15px;
    width: 15px;
}





@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        top: 50px;
        right: 0px;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
            top: 108px;
            background-color: lightgrey;
    }

    .hamburger {
        display: flex;
    }

    .info {
         opacity: 0%;
        height: 0px;
    }
}
