
#textIntro {
 margin-bottom: 10%;
}
.imageexempleleft {
        margin: 2%;
        height: 400px;
        width:  400px;
        left: 0;
        border: outset;
                background-color: white;
                border-radius: 40px;
}
.imageexempleright {
        margin: 2%;
        height: 400px;
        width: 400px;
        right: 0;
        border: outset;
        background-color: white;
        border-radius: 40px;
}


#interview {
        opacity: 80%;
        margin: 5%;
        padding: 5% ;
        border: outset;
                background-color: white;
                border-radius: 40px;
}

.img1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

}

@media (max-width: 815px) {

        .imageexempleleft {
                height: 200px;
                width: 200px;
                left: 0;
        }

        .imageexempleright {
                height: 200px;
                width: 200px;
                right: 0;
        }
}
